*{
background-color: rgb(79, 96, 222);
}

#red{
    color: red;
}
#blue{
    color: cadetblue;
}
#orange{
    color: orange;
}
#green{
    color: green;
}
#yellow{
    color: yellow;
}
.color-title{
    font-style: italic;
    font-weight: normal;
}
img {
    height: 200px;
    width: 200px;
}